apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "apikube.fullname" . }}-ingress
  labels:
  {{- include "apikube.labels" . | nindent 4 }}
  annotations:
    cert-manager.io/cluster-issuer: {{ .Values.ingress.clusterIssuer }}
    external-dns.alpha.kubernetes.io/hostname: {{ .Values.ingress.host }}
    external-dns.alpha.kubernetes.io/target: {{ .Values.ingress.target }}
    nginx.ingress.kubernetes.io/force-ssl-redirect: {{ .Values.ingress.forceSslRedirect }}
    nginx.ingress.kubernetes.io/auth-method: "{{ .Values.ingress.authMethod }}"
    nginx.ingress.kubernetes.io/auth-url: "{{ .Values.ingress.authUrl }}"
    nginx.ingress.kubernetes.io/auth-signin: "{{ .Values.ingress.authSignin }}"
    nginx.ingress.kubernetes.io/auth-response-headers: "{{ .Values.ingress.authResponseHeaders }}"
spec:
  ingressClassName: {{ .Values.ingress.ingressClassName }}
  rules:
  - host: {{ .Values.ingress.host }}
    http:
      paths:
      - backend:
          service:
            name: '{{ include "apikube.fullname" . }}-srv'
            port:
              number: {{ .Values.srv.ports[0].port }}
        path: /
        pathType: Prefix
  tls:
  - hosts:
    - {{ .Values.ingress.host }}
    secretName: apikube-tls