---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: apikube-depl
  namespace: apikube
spec:
  replicas: 3
  selector:
    matchLabels:
      app: apikube
  template:
    metadata:
      labels:
        app: apikube
    spec:
      containers:
      - name: backend-container
        image: ghcr.io/xamma/apikube:latest
        imagePullPolicy: Always
        envFrom:
        - configMapRef:
            name: apikube-configmap
        ports:
        - containerPort: 8000
      restartPolicy: Always